.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ffffff; /* ホワイト色 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 影をつける */
    transition: box-shadow 0.3s ease; /* アニメーション効果 */
  }
  .card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* マウスオーバー時の影 */
  }
  .content {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .due_date {
    margin: 0;
    font-size: 14px;
  }