.column {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0; /* グレー色 */
    border-radius: 10px; /* 角に丸みをつける */  
}
.title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}